# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Editors configs
.vscode
*.swp
*.swo
compile_commands.json

# Build directories
build
release
debug

# Python binding
nanobind_test.egg-info
_skbuild
/dist
__pycache__
.cache
*.pyd
*.egg-info
pyenv

# Doxygen documentation
*.html
*.js
*.tex
*.svg
*.png
*.css
*.sty
